APP_ENV=local
DATABASE_URL=postgresql://user:password@127.0.0.1:5432/db
VERSION=0.1.0

#REDIS_URL=redis://127.0.0.1:6379/0

JWT_SECRET='<secret_key>'
JWT_ALG='<algorithm>'
JWT_EXPIRES_MIN=60
JWT_ISSUER='<issuer_name>'

EMAIL_FROM="FlowCore <no-reply@seu-dominio.com>"

FRONTEND_URL=http://localhost:3000
API_BASE_URL='http://localhost:8000'
GEMINI_API_KEY='<your-api-key>'
OPENROUTER_API_KEY='<sk-or-v1-your-key-here>'
SENTRY_DSN='<dsn_here>'
SUPABASE_URL=''
SUPABASE_SERVICE_ROLE_KEY=''
SUPABASE_ANON_KEY=''
RESEND_API_KEY=""
